.link-group {
  p {
    margin-top: 24px;
    margin-bottom: 24px;

    &:hover {
      cursor: pointer;
    }
  }
}

.ant-form-item-control-input {
  .ant-form-item-control-input-content {
    .ant-btn-default {
      &.clear-filter {
        margin-left: 110px;
      }
    }
    .ant-input-disabled {
      color: rgb(0, 0, 0);
    }
    #act_time {
      color: rgb(0, 0, 0);
    }
  }
}

.col-default {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  &.col-request-no {
    width: 95px;
  }
  &.col-created {
    width: 65px;
  }
  &.col-type {
    width: 90px;
  }
  &.col-category {
    width: 90px;
  }
  &.col-kpi {
    width: 115px;
    .ant-tag {
      margin-right: 4px;
    }
  }
  &.col-product {
    width: 100px;
  }
  &.col-part {
    width: 100px;
  }
  &.col-line {
    width: 260px;
  }
  &.col-topic {
    width: 200px;
  }
  &.col-machine {
    width: 100px;
  }
  &.col-informer {
    width: 80px;
  }
  &.col-status {
    width: 120px;
  }
}

.grid {
  &.gap-4 {
    gap: 1rem;
  }
}
.filter-gap {
  padding-top: 1rem;
}

.ant-btn[type="submit"] {
  background-color: #1677ff;
  color: #ffffff;
  &:hover {
    background-color: #66a6ff;
    color: #ffffff;
  }
}
.ant-modal-footer {
  .ant-btn {
    &.ant-btn-primary {
      background-color: #1677ff;
      color: #ffffff;
      &:hover {
        background-color: #66a6ff;
        color: #ffffff;
      }
    }
  }
}

.action-btn {
  &.Submit {
    background-color: rgb(0, 109, 222);
    border-color: rgb(0, 139, 222);
    color: rgb(255, 255, 255);
    font-weight: 600;
    &:hover {
      background-color: transparent;
      border-color: rgb(18, 164, 241);
      color: rgb(18, 164, 241);
    }
  }
  &.Delete {
    background-color: rgb(203, 13, 8);
    border-color: rgb(233, 13, 8);
    color: rgb(255, 255, 255);
    font-weight: 600;
    &:hover {
      background-color: transparent;
      border-color: rgb(231, 0, 0);
      color: rgb(231, 0, 0);
    }
  }
  &.Self-Cancel {
    background-color: rgb(201, 201, 201);
    border-color: rgb(222, 222, 222);
    color: rgb(0, 0, 0);
    font-weight: 600;
    &:hover {
      background-color: transparent;
      border-color: rgb(180, 180, 180);
      color: rgb(180, 180, 180);
    }
  }
  &.Approve {
    background-color: rgb(55, 189, 17);
    border-color: rgb(55, 219, 17);
    color: rgb(255, 255, 255);
    font-weight: 600;
    &:hover {
      background-color: transparent;
      border-color: rgb(53, 212, 0);
      color: rgb(53, 212, 0);
    }
  }
  &.Reject {
    background-color: rgb(203, 13, 8);
    border-color: rgb(233, 13, 8);
    color: rgb(255, 255, 255);
    font-weight: 600;
    &:hover {
      background-color: transparent;
      border-color: rgb(231, 0, 0);
      color: rgb(231, 0, 0);
    }
  }
  &.Cancel {
    background-color: rgb(201, 201, 201);
    border-color: rgb(222, 222, 222);
    color: rgb(0, 0, 0);
    font-weight: 600;
    &:hover {
      background-color: transparent;
      border-color: rgb(180, 180, 180);
      color: rgb(180, 180, 180);
    }
  }
  &.Select {
    background-color: rgb(250, 250, 250);
    border-color: rgb(0, 139, 222);
    color: rgb(0, 109, 222);
    font-weight: 600;
    &:hover {
      background-color: transparent;
      border-color: rgb(18, 164, 241);
      color: rgb(18, 164, 241);
    }
  }
  &.Not-Select {
    background-color: rgb(250, 250, 250);
    border-color: rgb(5, 5, 5);
    color: rgb(0, 0, 0);
    font-weight: 600;
    &:hover {
      background-color: transparent;
      border-color: rgb(100, 100, 100);
      color: rgb(100, 100, 100);
    }
  }
}

.form-5m1e-report {
  padding-right: 32px;
  .ant-form-item-required {
    padding: 8px 16px;
    background: rgb(73, 56, 56);
    color: white !important;
    font-size: 18px !important;
    font-weight: bold;
    margin-bottom: 6px !important;
    margin-left: 12px !important;
    transform: skew(-10deg);
  }

  .ant-form-item-label {
    label {
      padding: 8px 16px;
      background: black;
      color: white !important;
      font-size: 18px !important;
      font-weight: bold;
      margin-bottom: 6px !important;
      margin-left: 12px !important;
      transform: skew(-10deg);
    }
  }

  .ant-radio-button-wrapper {
    font-size: 18px !important;
    height: 54px !important;
    min-width: 120px !important;
    margin: 0 12px;
    margin-bottom: 12px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
  }

  .ant-form-item-explain-error {
    margin-left: 12px !important;
  }

  .ant-radio-wrapper {
    font-size: 18px !important;
    margin: 0 12px;
    margin-bottom: 12px;
  }

  .ant-checkbox-wrapper {
    font-size: 18px !important;
    margin: 0 12px;
    margin-bottom: 12px;
  }

  .ant-select {
    font-size: 18px !important;
    margin: 0 12px;
  }

  .ant-picker {
    font-size: 18px;
    height: 32px;
    width: 100%;
  }

  .ant-upload-picture-card-wrapper {
    margin-left: 16px;
  }
}

.ant-table-expanded-row-fixed {
  padding-right: 32px;
  background-color: rgb(240, 250, 255);
  border-width: 1px;
  border-color: rgb(200, 200, 200);
  color: rgb(255, 0, 0);
}

.ant-select-selection-item {
  color: rgb(0, 0, 0);
}

.ant-radio-button {
  &.ant-radio-button-checked {
    &.ant-radio-button-disabled {
      background-color: rgba(0, 200, 200, 0.3);
    }
  }
}

.ant-radio-button-wrapper {
  height: fit-content;
  line-height: 24px;
  margin-bottom: 4px;
  margin-right: 4px;
  &.ant-radio-button-wrapper-checked {
    color: rgb(0, 0, 0);
  }
}

.report {
  &.report-header {
    font-weight: bold;
    font-size: 16px;
  }
}
