PG_USER = "postgres"
PG_PASS = "grespost"
PG_SERVER = "178.128.31.145"
PG_PORT = "5432"
PG_DB = "postgres"

EMAIL_HOST = "smtp.mailtrap.io"
EMAIL_PORT = "2525"
EMAIL_USERNAME = "1de40091ccd629"
EMAIL_PASSWORD = "9d2e188db7fd94"

FRONTEND_BASE_URL = "http://localhost"

X_API_KEY =  "['akljnv13bvi2vfo0b0bw']"